In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('heart.csv')

In [6]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### iloc służy do iteracji po dataframie, [arg1 = wiersze, arg2 = kolumny]

In [7]:
x = df.iloc[:,0:13]

In [9]:
y = df.iloc[:,13:]

In [10]:
y

     target
0         1
1         1
2         1
3         1
4         1
..      ...
298       0
299       0
300       0
301       0
302       0

[303 rows x 1 columns]

In [11]:
from sklearn.model_selection import *
from sklearn.linear_model import LogisticRegression

In [12]:
x_train, x_test = train_test_split(df, test_size=0.2, random_state=0)

In [13]:
clf = LogisticRegression(solver='liblinear' ,random_state=0).fit(x_train.iloc[:, 0:13], x_train.target)

In [14]:
clf.predict(x_train.iloc[:, 0:13])

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1],
      dtype=int64)

In [15]:
clf.predict_proba(x_test.iloc[:, 0:13])

array([[0.95114362, 0.04885638],
       [0.17335736, 0.82664264],
       [0.16406696, 0.83593304],
       [0.9758027 , 0.0241973 ],
       [0.89183075, 0.10816925],
       [0.54710284, 0.45289716],
       [0.94644905, 0.05355095],
       [0.87547988, 0.12452012],
       [0.99460163, 0.00539837],
       [0.99607695, 0.00392305],
       [0.21079683, 0.78920317],
       [0.07048054, 0.92951946],
       [0.9648454 , 0.0351546 ],
       [0.14944867, 0.85055133],
       [0.04166592, 0.95833408],
       [0.32294513, 0.67705487],
       [0.93458726, 0.06541274],
       [0.27288922, 0.72711078],
       [0.99327262, 0.00672738],
       [0.14516425, 0.85483575],
       [0.17632494, 0.82367506],
       [0.71134276, 0.28865724],
       [0.92540994, 0.07459006],
       [0.9006218 , 0.0993782 ],
       [0.14616612, 0.85383388],
       [0.53238974, 0.46761026],
       [0.80526991, 0.19473009],
       [0.66199733, 0.33800267],
       [0.02696562, 0.97303438],
       [0.34701066, 0.65298934],
       [0.3552126 , 0.6447874 ],
       [0.98472908, 0.01527092],
       [0.04067761, 0.95932239],
       [0.23231264, 0.76768736],
       [0.08326585, 0.91673415],
       [0.3242508 , 0.6757492 ],
       [0.959182  , 0.040818  ],
       [0.16285634, 0.83714366],
       [0.91600714, 0.08399286],
       [0.85403773, 0.14596227],
       [0.23989314, 0.76010686],
       [0.20935614, 0.79064386],
       [0.63414419, 0.36585581],
       [0.94023808, 0.05976192],
       [0.54942325, 0.45057675],
       [0.26470062, 0.73529938],
       [0.20492988, 0.79507012],
       [0.36354935, 0.63645065],
       [0.95129277, 0.04870723],
       [0.18196777, 0.81803223],
       [0.13422906, 0.86577094],
       [0.41647784, 0.58352216],
       [0.03312394, 0.96687606],
       [0.17754948, 0.82245052],
       [0.00649614, 0.99350386],
       [0.90039878, 0.09960122],
       [0.06882487, 0.93117513],
       [0.07311652, 0.92688348],
       [0.21059614, 0.78940386],
       [0.05270022, 0.94729978],
       [0.30789658, 0.69210342]])

In [16]:
clf.score(x_test.iloc[:, 0:13], x_test.target)

0.8524590163934426